* {
    font-family: 'Space Grotesk';
}

html, body {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 4vw;
    color: #3c3744;
}

h2 {
    color: #3c3744;
    font-size: calc(5px + 0.8vw);
    font-weight: 100;
}

#container {
    padding-top: calc(90px + 2vw);
    padding-left: 12.5%;
    padding-right: 12.5%;
    box-sizing: border-box;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    height: calc(50px + 1.6vw);
    margin: 0;
    padding: 0;
    background: #090c9b;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100000000;
    gap: calc(12px + 1.4vw);

    img {
        margin-left: calc(5px + 2vw);
        margin-right: -6px;
        width: calc(80px + 7vw);
        transition: background-color 0.2s;
    }

    img:hover {
        cursor: pointer;
        background-color: rgba(126, 126, 126, 0);
        background-size: 200px 200px;
    }
    
    a {
        margin-right: 36px;
        font-size: calc(6px + 0.9vw);
        color: rgb(213, 213, 213);
        transition: color 0.2s, translate 0.2s;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
        translate: 0px -1px;
    }
}

#banner {
    display: flex;
    flex: top;

    img {
        width: calc(100px + 40%);
        height: max-content;
    }

    #banner-text {
        margin-left: 10px;
        width: 500px;
    
        h1 {
            margin-bottom: 15px;
        }

        button {
            margin-top: calc(3px + 2vw);
            background-color: #3066be;
            color: #fbfff1;
            border-radius: 5px;
            padding: calc(5px + 0.4vw) calc(10px + 0.8vw);
            font-size: calc(10px + 0.8vw);
            border: none;
            user-select: none;
            margin-top: 10px;
            transition: background-color 0.2s;
        }

        button:hover {
            cursor: pointer;
            background-color: #b4c5e4;
        }
    }
}

/* banner end here */

.color-section {
    background-color: #3066be;
    display: flex;
    flex-direction: row;
    text-align: left; 
    padding: 12.5%;
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    height: fit-content;
    gap: calc(60px + 1.5vw);

    align-items: center;
    h1 {
        padding: 0;
        color: #fbfff1;
        margin: 0;
    }

    h2 {
        color: #fbfff1;
    }

    div {
        width: 50%;
    }
    img {
        width: 50%; 
        border-radius: 12px; 
        height: max-content;
    }
}

.normal-section {
    padding: 12.5%;
    text-align: center;
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    h1 {
        line-height: 0;
        margin-top: 50px;
    }
}

#help {
    width: 80%;
    color: white;
    gap: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    h1 {
        font-size: calc(15px + 1vw);
        padding: 0;
        margin: 0;
    }

    div {
        padding-top: 35px;
        width: 30%;
        border-radius: 10px;
    }

    h2 {
        padding: 10px;

        a:hover {
            color: #090c9b;
            cursor: pointer;
        }

        ul {
            width: 100%;
            padding: 0;
            li {
                list-style: none;
                width: 100%;
                margin-bottom: 5px;
            
                a {
                    color: #fbfff1;
                    display: block;
                    background-color: #3066be; 
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #090c9b;
    color: #fbfff1;
    position: absolute;
    display: flex; 
    font-size: calc(4px + 0.8vw);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}